body {
    background:#f5f9fc;
    font-family: Arial, sans-serif;
}

.dash-title {
    margin: 30px 0 10px 40px;
    color:#0a1a33;
    font-size:28px;
    font-weight:700;
}

.event-container {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.event-card {
    background: white;
    padding: 18px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0002;
    border-left: 5px solid #0a1a33;
}

.event-card h3 {
    margin: 0;
    font-size: 20px;
    color: #0a1a33;
    font-weight: 600;
}

.event-card p {
    margin: 5px 0;
    font-size: 15px;
    color: #333;
}

.no-reg {
    text-align:center;
    margin-top:40px;
    font-size:20px;
    color:#444;
    font-weight:500;
}
